<!DOCTYPE html>
<html>
  <body>
    <h1>Upcoming Class!</h1>
    <p>This is a reminder that your {{class_type}} starts in 24hrs.</p>
    <p>If you are unable to attend the class, please make sure to cancel more then 12hrs prior to the start time, or your credit will be forfeited.</p>
    <br/>

    <p>Address of the studio is 67 Coventry View NE</p>
    <p>Please park at the end of the street, near the mailboxes. Come to the side gate, next to the front door - look for the round metal tree hanging on the gate. Walk along the side of the house to the studio at the back and come on inside! There is a FortySix10 sign in the window. Please note the studio does not have washroom facilities.</p>
    <br/>

    <p>See you soon!</p>
  </body>
</html>
