<div class="footer-container d-flex align-items-center">
  <span>© 2019 FortySix10 Fitness</span>
  <div>
    <a>Instagram -TODO-</a>
    <a>YouTube -TODO-</a>
  </div>
</div>

<%- include('./listener_script'); %>
<script>
  if (window.history.replaceState) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
