<div class="footer-container d-flex align-items-center">
  <span>© 2023 FortySix10 Fitness</span>
  <span id="footer-location-text">Located in Coventry Hills, Calgary, AB</span>
  <div class="d-flex">
    <div class="footer-link">
      <a href="http://instagram.com/fortysix10fitness"><img src="/public/images/instagram.png"></a>
    </div>
    <div class="footer-link">
      <a href="https://youtube.com/channel/UCn-AznB_bIRL3_5qrmhDjLA"><img src="/public/images/youtube.png"></a>
    </div>
    <div class="footer-link">
      <a href="mailto:lisa@fortysix10fitness.ca"><img src="/public/images/at.png"></a>
    </div>
  </div>
</div>

<%- include('./listener_script'); %>
<script>
  if (window.history.replaceState) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
