<div class="footer-container d-flex align-items-center">
  <span>© 2023 FortySix10 Fitness</span>
  <div class="d-flex">
    <div class="footer-link">
      <a href="http://instagram.com/fortysix10fitness"><img src="https://eep.io/mc-cdn-images/icons/social-block-v2/color-instagram-48.png" alt=""></a>
      <a class="footer-link-text" href="http://instagram.com/fortysix10fitness">Follow @fortysix10fitness on Instagram</a>
    </div>
    <div class="footer-link">
      <a href="https://youtube.com/channel/UCn-AznB_bIRL3_5qrmhDjLA"><img src="https://eep.io/mc-cdn-images/icons/social-block-v2/color-youtube-48.png" alt=""></a>
      <a class="footer-link-text" href="https://youtube.com/channel/UCn-AznB_bIRL3_5qrmhDjLA">Join me for classes on YouTube</a>
    </div>
  </div>
</div>

<%- include('./listener_script'); %>
<script>
  if (window.history.replaceState) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
