<div class="nav-container d-flex align-items-center">

  <a href="/"><img class="nav-logo" src="/public/images/nav_logo.png" width="100" height="100"></a>

  <div class="nav-link-container">
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li>
          <a class="nav-link" href="/#hero">Home</a>
        </li>
        <% if (user) { %>
          <li>
            <a class="nav-link" href="/account">Account</a>
          </li>
          <li>
            <a class="nav-link" href="/purchase">Purchase Credits</a>
          </li>
        <% } %>
        <li>
          <a class="nav-link" href="/#class-schedules">Class Options</a>
        </li>
        <li>
          <a class="nav-link" href="/#calendar">Calendar</a>
        </li>
        <li>
          <a class="nav-link" href="/#testimonials">Testimonials</a>
        </li>
        <li>
          <a class="nav-link" href="/#about">About</a>
        </li>
        <% if (!user) { %>
          <li>
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li>
            <a class="nav-link" href="/account/login">Login</a>
          </li>
          <li>
            <a class="nav-link" href="/account/register">Register</a>
          </li>
        <% } else { %>
          <li>
            <a class="" href="/account/logout">Logout</a></h5>
          </li>
        <% } %>
      </ul>
      <div class="mobile-display"><i class="fa-solid fa-bars bi bi-list mobile-nav-toggle"></i></div>
    </nav>
  </div>

</div>
