<div class="nav-container d-flex align-items-center">

  <h1 class="nav-title desktop-display"><a href="/">fortysix10fitness</a></h1>
  <img class="nav-logo" src="../../public/images/nav_logo.png" width="100" height="100">

  <div class="nav-link-container">
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <% if (user) { %>
          <li>
            <a class="nav-link" href="/account">Account</a>
          </li>
          <li>
            <a class="nav-link" href="/purchase">Purchase Credits</a>
          </li>
        <% } %>
        <li>
          <a class="nav-link" href="/about">About</a>
        </li>
        <% if (!user) { %>
          <li>
            <a class="nav-link" href="/account/login">Login</a>
          </li>
          <li>
            <a class="nav-link" href="/account/register">Register</a>
          </li>
        <% } else { %>
          <li>
            <a class="" href="/account/logout">Logout</a></h5>
          </li>
        <% } %>
      </ul>
      <div class="mobile-display"><i class="fa-solid fa-bars bi bi-list mobile-nav-toggle"></i></div>
    </nav>
  </div>

</div>