<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <div class="about-profile">
          <div>
            <h1>This Is Me</h1>
            <p>Hi, I'm Lisa! I started my journey down this fitness path about 15 years ago. I was looking for something to help my body recover after a back injury and then giving birth to 3 babies over the years. I have attended many classes, training courses, retreats and spent countless hours on my mat.</p>
            <p>I used to pride myself in being a "busy" person, but now am learning to be more content, to slow down and to actually enjoy the quiet, to be able to find peace when there is chaos all around. When I think back to where I was when I started, I realize that this has changed my life. Mind, body and soul.</p>
            <p>We are all on a journey. I hope that you'll join me along the way!</p>
            <p>- Certified Holy Yogalates Instructor -</p>
          <p>- Certified Holy Yoga with Weights Instructor -</p>
          </div>
          <img src="../../public/images/about-profile.jpg" width="100%">
        </div>
        <div class="about-image-grid">
          <img src="../../public/images/about-photo-1.jpg" width="100%">
          <img src="../../public/images/about-photo-2.jpg" width="100%">
        </div>
        <img src="../../public/images/about-photo-3.jpg" width="100%">
        <div class="about-image-grid">
          <img src="../../public/images/about-photo-4.jpg" width="100%">
          <img src="../../public/images/about-photo-5.jpg" width="100%">
        </div>
        <img src="../../public/images/about-photo-6.jpg" width="100%">
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>