<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <div class="about-profile">
          <div class="text-center">
            <h1>This Is Me</h1>
            <p>Hi, I'm Lisa! I started my journey down this fitness path about 18 years ago. After suffering a back injury as a teenager and then giving birth to 3 babies over the years and spending years sitting at my desk job; my posture, my core strength and my energy levels were severely lacking. I was often in pain, suffered from headaches, and needed to visit my chiropractor and massage therapist many times each month just to be able to function. I was looking for something to help my body recover and this is what worked for me. I have attended so many classes, training courses, retreats and spent countless hours on my mat. And because this has worked for me, I get super excited about sharing these things with other women!</p>
            <p>I used to pride myself in being a "busy" person able to multi-task all day, but now am learning to be more content, to slow down and to actually enjoy the present moment. To be able to find peace when there is chaos all around, is truly a gift. When I think back to where I was almost 20 years ago, I know that this has changed my life. Mind, body and soul. Everything is connected.</p>
            <p>We are all on a journey and I hope that you'll join me along the way!</p>
            <p>"Be still, and know that I am God."<br>Psalm 46:10</p>
            <p>- Certified Holy Yogalates Instructor -</p>
            <p>- Certified Holy Yoga with Weights Instructor -</p>
            <p>- YogaBody Trapeze Teacher -</p>
          </div>
          <div class="about-profile-img"></div>
        </div>
        <div class="about-image-grid">
          <img src="../../public/images/about-photo-1.jpg" width="100%">
          <img src="../../public/images/about-photo-2.jpg" width="100%">
        </div>
        <img src="../../public/images/about-photo-3.jpg" width="100%">
        <div class="about-image-grid">
          <img src="../../public/images/about-photo-4.jpg" width="100%">
          <img src="../../public/images/about-photo-5.jpg" width="100%">
        </div>
        <img src="../../public/images/about-photo-6.jpg" width="100%">
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>