<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Login</h1>
        <% if(message) { %>
          <p class="alert alert-danger"><%= message %></p>
        <% } %>
        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action="/account/login/email" method="POST" class="input-form">
              <div class="form-group mt-3">
                <input id="email" name="email" class="form-control" type="email" placeholder="Your Email" value="" required />
              </div>
              <div class="text-center">
                <button type="submit">Continue</button>
              </div>
            </form>
          </div>
        </div>
	<br />
        <span>Don't have an account? <a href="/account/register">Click here to register!</a></span>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
