<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Enter your email to recieve your login code:</h1>
        <% if(message) { %>
          <p class="alert alert-danger"><%= message %></p>
        <% } %>
        <form action="/account/login/email" method="POST">
          <div>
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" placeholder="Enter your email here" value="" required />
          </div>
          <button type="submit">Submit</button>
        </form>
        <span>Don't have an account? <a href="/account/register">Click here to register!</a></span>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>