<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Account Register</h1>
        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action="/account/register" method="POST" class="input-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input id="first_name" name="first_name" class="form-control" type="text" placeholder="Your First Name" value="" required />
                </div>
                <div class="col-md-6 form-group">
                  <input id="last_name" name="last_name" class="form-control" type="text" placeholder="Your Last Name" value="" required />
                </div>
              </div>
              <div class="form-group mt-3">
                <input id="email" name="email" class="form-control" type="email" placeholder="Your Email" value="" required />
              </div>

              <input name="mailing_list" type="checkbox" checked />
              <label for="mailing_list">Sign up for my newsletter to recieve 1 free credit.</label>

              <div class="text-center">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <span>Already have an account? <a href="/account/login">Click here to login!</a></span>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>