<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <h1>Enter the code sent to your email:</h1>
      <form action="/account/login" method="POST">
        <div>
          <labe for="code">Emailed Code:</labe>
          <input id="code" name="code" type="password" placeholder="Enter unique code here" required />
        </div>
        <input type="submit" value="submit" />
      </form>
      <button>Resend Code</button>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>