<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Enter the code sent to your email:</h1>
        <form action="/account/login" method="POST">
          <div>
            <label for="code">Emailed Code:</label>
            <input id="code" name="code" type="password" placeholder="Enter unique code here" required />
          </div>
          <input type="submit" value="submit" />
        </form>
        <button>Resend Code</button>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>