<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <h1>Error</h1>
      <h3><%= message %></h3>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>