<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="text-center">Class Pricing</h1>

        <p class="text-center">Classes cost 1 class credit each. Class credits can be purchased individually for $25, or with a monthly subscription. 5 class credits per month costs $100 ($20 per class credit) and 8 class credits per month costs $150 ($18.75 per class credit). A website account is required to purchase class credits and payment is accepted by credit card or e-transfer. First time account registrations are eligible for 1 free class! Email <a href='mailto:lisa@fortysix10fitness.ca'>lisa@fortysix10fitness.ca</a> with any questions.</p>
              <div class="text-center">
                <a href="account/register"><button type="button" class="link-btn">Register Now!</button></a>
              </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
