<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header id="header" class="fixed-top">
      <%- include('../partials/header'); %>
    </header>

    <main>
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Testimonials</h2>
          </div>
          <div class="testimonials">
            <div style="width: 320px; margin-right: 20px;" role="group" aria-label="3 / 5">
              <div class="testimonial-item">
                <p> <i class="bx bxs-quote-alt-left quote-icon-left">“</i> Lisa is an amazing yoga instructor. Very patient and was easy to follow when I first started. I have taken numerous sessions since then and have definitely noticed a improvement in my over all well being. The classes are always very welcoming and you can stay at a level you are comfortable with. I always leave feeling very relaxed and rejuvenated. <i class="bx bxs-quote-alt-right quote-icon-right">”</i></p> <h3>Jen</h3>
              </div>
            </div>
            <div style="width: 320px; margin-right: 20px;" role="group" aria-label="3 / 5">
              <div class="testimonial-item">
                <p> <i class="bx bxs-quote-alt-left quote-icon-left">“</i> I have been doing Lisa's class for years now. My willingness of doing yoga before, was zero to none. However Lisa keep encouraging me to try it and embrace the stillness of it all. I since cherish my time doing yoga. She is skilled and confident in this practice.I love her new studio. It is well thought out space full of peace and comfort. Thank you for having this space I cannot wait to do more classes! <i class="bx bxs-quote-alt-right quote-icon-right">”</i></p> <h3>Aileen</h3>
              </div>
            </div>
            <div style="width: 320px; margin-right: 20px;" role="group" aria-label="3 / 5">
              <div class="testimonial-item">
                <p> <i class="bx bxs-quote-alt-left quote-icon-left">“</i> I went to the Relaxation Evening class at Lisa's studio and it did exactly that. The vibe in the studio was lovely; the low lights, lit candle, and soothing music all contributed to a relaxing stretch class that was needed at the end of a long week. Lisa was knowledgeable and helped one on one with aligning stretches correctly , one of which helped my hips feel so much better than they did when I arrived! I would definitely take this class again, a very unique exercise class experience. <i class="bx bxs-quote-alt-right quote-icon-right">”</i></p> <h3>Miriam</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="fixed-bottom">
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
